# **New York Taxi Analysis**

<a id='table_of_contents'></a>

0. [Import libraries](#imports)
1. [Import data](#import_data)
2. [Data exploration](#data_exploration)
3. [Data cleaning](#data_cleaning)
4. [Data preparation](#data_preparation)
5. [Benchmark model](#benchmark_model)<br>
6. [Feature engineering](#feature_engineering)
7. [Model training](#model_training)<br>
    7.1. [Decision Tree](#decision_tree)<br>
    7.2. [Random Forest](#random_forest)<br>
    7.3. [Comparing algorithm performances](#comparing_algorithm_performances)
8. [Tuning](#tuning)<br>

# 0. Import libraries <a id='imports'></a>
[Back to top](#table_of_contents)

In [12]:
import pandas as pd

# 1. Import data <a id='import_data'></a>
[Back to top](#table_of_contents)))

In [13]:
taxi_df = pd.read_parquet('E:/Playground/New York Taxi Analysis/Data/yellow_tripdata_2024-01.parquet')

In [14]:
taxi_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [15]:
taxi_df.shape

(2964624, 19)

# 2. Data exploration <a id='data_exploration'></a>
[Back to top](#table_of_contents))

# 3. Data cleaning <a id='data_cleaning'></a>
[Back to top](#table_of_contents))

# 4. Data preparation <a id='data_preparation'></a>
[Back to top](#table_of_contents))

# 5. Benchmark model <a id='benchmark_model'></a>
[Back to top](#table_of_contents))

# 6. Feature engineering <a id='feature_engineering'></a>
[Back to top](#table_of_contents))

# 7. Model training <a id='model_training'></a>
[Back to top](#table_of_contents))

## 7.1. Decision tree <a id='decision_tree'></a>
[Back to top](#table_of_contents))

## 7.2. Random forest <a id='random_forest'></a>
[Back to top](#table_of_contents))

## 7.3. Comparing algorithm performances <a id='comparing_algorithm_performances'></a>
[Back to top](#table_of_contents))

# 8. Tuning <a id='tuning'></a>
[Back to top](#table_of_content)))